/* reset */
body,
div,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

/* common (phone) */

body {
  font-family: "M PLUS 1p", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainArea {
  flex: 1;
}

.headerArea {
  background-color: #333;
  overflow: hidden;
  padding-bottom: 20px;
}

.mainHeading {
  font-size: 20px;
  margin: 20px 0 0 20px;
  color: #fff;
}

.forecastSection {
  background-color: #e5e5e5;
}

.dayCardGroup {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  margin: 0 auto;
  padding: 0 20px 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.dayCardGroup::-webkit-scrollbar {
  height: 5px;
}

.dayCardGroup::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dayCardGroup::-webkit-scrollbar-thumb {
  background: #bcbcbc;
}

.dayCard {
  margin-top: 40px;
  flex-shrink: 0;
  width: 200px;
  background-color: antiquewhite;
  box-shadow: #787878 1px 1px 4px;
  border-radius: 4px;
  padding: 0 20px 20px;
  position: relative;
  outline: 6px solid lightsalmon;
  outline-offset: -6px;
}

.dayCard:first-child::before,
.dayCard:last-child::before {
  position: absolute;
  color: #333;
  font-weight: bold;
  top: -30px;
}

.dayCard:first-child::before {
  content: "scroll>>";
  left: 0;
}

.dayCard:last-child::before {
  content: "<<scroll";
  right: 0;
}

.dayCard+.dayCard {
  margin-left: 40px;
}

.dayHeading {
  margin-top: 20px;
  font-size: 26px;
  text-align: center;
}

.icon {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.icon img {
  width: 100%;
  transform: scale(1.4);
}

.description {
  text-align: center;
  font-size: 20px;
  margin-top: 0;
  font-weight: bold;
}

.dataGroup {
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
}

.tempChild {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.tempNumber {
  font-weight: bold;
  font-size: 18px;
}

.mapSection {
  overflow: hidden;
  padding: 0 20px 20px;
}

.currentPosition {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  word-wrap: break-word;
}

.embedMap {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border: none;
}

.footerArea {
  background-color: #333;
  padding-bottom: 20px;
  overflow: hidden;
}

.footer__rights {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: bold;
}


/* tablet */

@media screen and (min-width:560px) {

  .dayCard {
    width: 300px;
    padding: 0 40px 40px;
    outline-width: 10px;
    outline-offset: -10px;
  }

  .dayHeading {
    margin-top: 40px;
    font-size: 36px;
  }

  .icon {
    max-width: 160px;
    max-height: 160px;
  }

  .description {
    font-size: 30px;
  }

  .dataGroup {
    margin-top: 20px;
  }

  .tempChild {
    font-size: inherit;
  }

  .tempNumber {
    font-size: 24px;
  }

  .mapSection {
    padding-bottom: 40px;
  }

  .currentPosition {
    margin-top: 40px;
  }

  .embedMap {
    margin-top: 20px;
  }

}


/* PC */

@media screen and (min-width:1260px) {

  .header__content,
  .footer__content {
    width: 1250px;
    margin: 0 auto;
  }

  .mainHeading {
    margin-left: 0;
  }

  .forecastSection {
    padding-bottom: 40px;
  }

  .dayCardGroup {
    overflow: visible;
    white-space: normal;
    padding: 0;
    width: 1250px;
  }

  .dayCard:first-child::before,
  .dayCard:last-child::before {
    content: none;
  }

  .mapSection {
    padding: 0 0 40px;
  }

  .map__content {
    padding: 0 20px;
    width: 1250px;
    margin: 0 auto;
  }

  .currentPosition {
    font-size: 30px;
  }

}


/* loading */
.loadingLayer {
  background-color: #eee;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.loadingLayer.active {
  visibility: visible;
  opacity: 1;
}

.loadingIconBox {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 40vh;
  right: calc(50vw - 50px);
  display: flex;
  justify-content: space-between;
}

@keyframes loadingbarAnimation {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loadingBar {
  background-color: #eb4d4b;
  width: 15%;
  height: 15%;
  margin-top: 25%;
  animation: loadingbarAnimation 1.4s infinite ease-in-out;
  border-radius: 50%;
}

.loadingBar:nth-child(2) {
  animation-delay: 0.1s;
}

.loadingBar:nth-child(3) {
  animation-delay: 0.2s;
}

.loadingBar:nth-child(4) {
  animation-delay: 0.3s;
}

.loadingBar:nth-child(5) {
  animation-delay: 0.4s;
}
