body {
    font-family: "M PLUS 1p";
}

div,
p {
    margin: 0;
    padding: 0;
}

.mainHeadig {
    font-size: 40px;
    text-align: center;

}


.icon {
    max-width: 160px;
    max-height: 160px;
    border-radius: 50%;
    background: red;
    display: block;
    margin: 0 auto;
}

.icon img {
    width: 100%;
}

.description {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}


.tempGroup {
    margin: 40px auto 0;
    display: table;
}


.currentPosition {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 40px;
}

.embedMap {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    border: none;
}
